*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/signing.properties
/.idea/jarRepositories.xml
/.idea/migrations.xml
/.idea/codeStyles/
temp_keystore/
my-release-key.jks
sign/key_base64.txt
sign/properties_base64.txt
sign/signing.properties
